* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background: #f9f9f9;
    color: #532d5d;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.left {
    flex: 1;
    background: #f4f3fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left img {
    max-width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 60% 40% 60% 40% / 50% 60% 60% 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.center {
    flex: 2;
    display: flex;
    align-items: left;
    justify-content: center;
    position: relative;
}

.intro {
    text-align: left;
    max-width: 90%;
}

.description {
    font-size: 1.2vw;
    color: #532d5d;
    margin: 20px 0;
    max-width: 90%;
    text-align: justify;
}

.intro h1,
.intro h2 {
    font-weight: bold;
    margin: 10px 0;
}

.intro .highlight {
    color: #f05d4e;
}

.intro .small {
    font-size: 14px;
    color: #532d5d;
}

.right {
    width: 80px;
    background-color: #210b28;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.menu-button {
    cursor: pointer;
}

.menu-button i {
    color: white;
    font-size: 20px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 2vw;
}

@font-face {
    font-family: 'Ferro Rosso';
    src: url('../fonts/ferro_rosso/ferro_rosso.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#name {
    font-family: 'Ferro Rosso', sans-serif;
    font-size: 10vw;
}

#iname {
    font-weight: bold;
}

#here {
    font-size: 1vw;
}

#button-div {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: left;
    text-decoration: none;
}

.custom-btn {
    background-color: #d7cce2;
    border: none;
    color: #532d5d;
    padding: 10px 20px;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.custom-btn:hover {
    background-color: #210b28;
    color: #d7cce2;
    transform: translateY(-1.5px);
}

.menu-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-options {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #210b28;
    padding: 10px 0;
    position: absolute;
    /* top: 50px; */
    /* right: 0; */
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 5;
    transition: all 0.5s ease;
}

.menu-options a {
    display: block;
    width: 70%;
    margin: 8px 0;
    padding: 10px 15px;
    text-align: center;
    background-color: #d7cce2;
    color: #210b28;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-family: inherit;
    transition: all 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-options a:hover {
    background-color: #532d5d;
    color: #d7cce2;
    transform: translateY(-2px);
}

.right,
.center {
    transition: all 0.5s ease;
}

.menu-container:hover~.social-icons {
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
    #hide-in-mobile {
        display: none;
    }

    #show-in-mobile {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    #hide-in-mobile {
        display: block;
    }

    #show-in-mobile {
        display: none;
    }
}