#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url("./imges/1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.count-particles {
    position: absolute;
}

.js-count-particles {
    font-size: 1.1em;
}

.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}